<!DOCTYPE html>
<html>
<head>
  <title>RedditHomework03</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EAEAEA">
  <div class="container-fluid">
    <a href="/" style="text-decoration: none"><h2><b>Tidder</b></h2></a>
    <small>
      <b><span style="color: red">INFINUM</span> STUDENT ACADEMY</b>
      <br>
      <span style="letter-spacing: 0.5em">REDDIT CLONE PROJECT</span>
    </small>
    <%= yield %>
  </div>
</body>
</html>
